NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_WS_URL=ws://localhost:4000/ws
NEXT_PUBLIC_PUBLISHER_USER_ID=user_117
NEXT_PUBLIC_SEEKER_USER_ID=User_902
NEXT_PUBLIC_GRAPH_ID=user_117.publisher.v1
NEXT_PUBLIC_SEEKER_GRAPH_ID=user_902.seeker.v1
NEXT_PUBLIC_MAIN_USER_ID=user_771
NEXT_PUBLIC_MAIN_GRAPH_ID=user_771.main.v1
COINDESK_API_KEY=
NEXT_PUBLIC_COINDESK_API_KEY=
